%li.namespace
  - if namespace.image
    %img.image{:src => "#{file_prefix}../#{namespace.image}"}
  %h3.name_header
    Name
  %a.name{:href => "#{file_prefix}namespaces/#{namespace.safe_path_from_module_name(prefix)}.html"}
    #{namespace.name}
  %h3.description_header
    Description
  %p.description
    #{namespace.comment}
