%h1
  #{prefix} Class #{name}

%h2
  Source

%p
  #{file}

- unless namespaces.empty?
  %h2
    Namespaces
  %ul
    - namespaces.each do |namespace|
      %li
        %a{:href => "#{file_prefix}_#{namespace.name}"}
          #{namespace.name} - #{namespace.comment}

- unless classes.empty?
  %h2
    Classes
  %ul
    - classes.each do |klass|
      %li
        %a{:href => "#{file_prefix}#{klass.file.gsub(/#{Regexp.escape(File.extname(klass.file))}$/, ".html")}"}
          #{klass.name} - #{klass.comment}

- unless functions.empty?
  %h2
    Methods
  %ul
    - functions.each do |function|
      %li
        #{function.name} - #{function.comment}
