%h1#class
  #{prefix} Class #{name}

%h2#source
  Source

%p.source
  #{file}

- unless namespaces.empty?
  %h2#namespaces
    Namespaces
  %ul.namespaces
    - namespaces.each do |namespace|
      = partial :namespace, :locals => {:namespace => namespace}

- unless classes.empty?
  %h2#classes
    Classes
  %ul.classes
    - classes.each do |klass|
      = partial :class, :locals => {:klass => klass}

- unless functions.empty?
  %h2#functions
    Methods
  %ul.functions
    - functions.each do |function|
      = partial :function, :locals => {:function => function}
