!!!
%html
  %head
    %meta{:charset=>"utf8"}
    %meta{:content=>"width=device-width, initial-scale=1, maximum-scale=1", :name=>"viewport"}

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    %link{:href=>"http://fonts.googleapis.com/css?family=Source+Sans+Pro|News+Cycle:400|Marcellus|Cinzel:700|Forum|Archivo+Narrow|Inconsolata|Metrophobic|Judson:400", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"#{file_prefix}css/reset.css", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"#{file_prefix}css/zenburn.css", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"#{file_prefix}css/main.css", :rel=>"stylesheet", :type=>"text/css"}

    %title
      #{title}
  %body
    = yield
