%header
  - if image
    %img#image{:src => "#{file_prefix}../#{image}"}

  %h1#namespace
    %span.prefix
      #{prefix}
    %span.name
      #{name}

- unless namespaces.empty?
  %h2#namespaces
    Namespaces
  %ul.namespaces
    - namespaces.each do |namespace|
      = partial :namespace, :locals => {:namespace => namespace}

- unless classes.empty?
  %h2#classes
    Classes
  %ul.classes
    - classes.each do |klass|
      = partial :class, :locals => {:klass => klass}

- unless functions.empty?
  %h2#functions
    Methods
  %ul.functions
    - functions.each do |function|
      = partial :function, :locals => {:function => function}
