%h1#namespace
  #{prefix} Namespace #{name}

- unless namespaces.empty?
  %h2#namespaces
    Namespaces
  %ul
    - namespaces.each do |namespace|
      %li
        %a{:href => "#{file_prefix}namespaces/#{namespace.safe_path_from_module_name("#{prefix}#{name}::")}.html"}
          #{namespace.name}
        %p.description
          #{namespace.comment}

- unless classes.empty?
  %h2#classes
    Classes
  %ul.namespaces
    - classes.each do |klass|
      %li.namespace
        %a{:href => "#{file_prefix}#{klass.file.gsub(/#{Regexp.escape(File.extname(klass.file))}$/, ".html")}"}
          #{klass.name}
        %p.description
          #{klass.comment}

- unless functions.empty?
  %h2#functions
    Methods
  %ul.functions
    - functions.each do |function|
      %li.function
        %p.name
          #{function.name}
        %p.description
          #{function.comment}
